<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title></title>

    <link rel="stylesheet" href="css/main.css"/>

    <script src="bower_components/angular/angular.js"></script>
    <script src="bower_components/angular-route/angular-route.js"></script>
    <script src="bower_components/lodash/lodash.js"></script>
    <script src="scripts/output.js"></script>
</head>
<body ng-app="eadg">

<script type="text/ng-template" id="app.html">
    <select ng-model="selectedTuning"
            ng-options="tuning as tuning.name for tuning in availableTunings"
            ng-change="refresh()">
    </select>

    <input type="number"
           ng-model="numberOfFrets"
           ng-change="refresh()">

    <table>
        <tr>
            <td ng-repeat="cell in topRow">
                {{cell}}
            </td>
        </tr>
        <tr ng-repeat="string in strings">
            <td ng-repeat="fret in string"
                class="{{'octave-' + fret.octave}}">
                {{fret.pitch}}
            </td>
        </tr>
    </table>
    <div>Number of unique pitches: {{uniquePitches.length}}</div>
</script>

<div ng-view>
</div>

</body>
</html>